@font-face {
  font-family: 'F1 Font';
  src: url('../assets/fonts/Formula1-Regular.woff2') format('woff2');
  src: url('../assets/fonts/Formula1-Regular.woff') format('woff');
}
#app {
  font-family: 'F1 Font', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: #2c3e50;
}
#nav {
  padding: 30px;
}
#nav a {
  font-weight: bold;
  color: #2c3e50;
}
#nav a .router-link-exact-active {
  color: #42b983;
}
/* Tracks */
.track-item_title {
  cursor: pointer;
}
.track-item_card {
  height: 160px;
  max-height: 160px;
}
