@font-face {
  font-family: 'f1font';
  src: url('../assets/fonts/Formula1-Regular.otf') format('opentype');
  font-weight: 400;
}
@font-face {
  font-family: 'f1font';
  src: url('../assets/fonts/Formula1-Bold.otf') format('opentype');
  font-weight: 700;
}
.application,
.title,
.headline,
#app {
  font-family: 'f1font' !important;
}
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: #2c3e50;
}
#nav {
  padding: 30px;
}
#nav a {
  font-weight: bold;
  color: #2c3e50;
}
#nav a .router-link-exact-active {
  color: #42b983;
}
/* Tracks */
.track-item_title {
  cursor: pointer;
}
.track-item_card {
  min-height: 160px;
}
