.championship-standings {
  font-family: 'f1font-reg', sans-serif !important;
  font-size: 12px;
  text-align: center;
}
.championship-standings_country {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.championship-standings_total-value {
  flex-shrink: 0;
}

@media screen and (max-width: 768px) {
  .hidden-xs {
    display: none;
  }
}
.championship-standings .result-cell {
  padding: 4px;
  border-radius: 5px;
}
.championship-standings .position-1 {
  color: #000;
  background: #ffc200;
}
.championship-standings .position-2 {
  color: #000;
  background: rgb(208, 208, 208);
}
.championship-standings .position-3 {
  color: #fff;
  background: #bb6c00;
}
.championship-standings .best-lap {
  /* border: 2px solid #c002c0; */
  position: relative;
}
.championship-standings .best-lap::before {
  height: 9px;
  width: 9px;
  background-color: #c002c0;
  /* display: block; */
  content: '';
  position: absolute;
  top: -4px;
  right: -4px;
  border-radius: 100%;
}
.championship-standings_row:hover {
  background-color: rgba(148, 148, 148, 0.26);
}
.championship-standings_row.removed {
  opacity: 0.5;
}
.championship-standings_username {
  /* text-decoration: underline; */
  cursor: pointer;
}
.championship-standings_team {
  min-width: 100px;
}
.championship-standings_username a {
  color: inherit;
}